.avatar {
  // <<< inline
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  img { width: 100%; }
  // >>>

  // <<< link
  position: relative;
  z-index: 1;
  // >>>
}

// <<< inline
.content .avatar {
  @extend .color-transition;
  float: right;
  box-sizing: content-box;
  border: 1rem solid var(--body-bg);
  transition: border-color 1s ease;
  margin-top: -1.5rem;
  margin-right: -1rem;
}
// >>>
