

hy-push-state a {
  color: var(--body-color); // inline

  // <<< inline
  @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
    text-decoration: none; 
    border-bottom: 2px solid;
  }

  @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
    text-decoration-style: solid;
    text-underline-offset: .35rem;
    text-decoration-thickness: 2px;
  }
  // >>>

  // <<< link
  transition: color 250ms, text-decoration-color 250ms, border-color 250ms;
  &:hover {
    transition: color 50ms, text-decoration-color 50ms, border-color 50ms;
  }
  // >>>

  // <<< inline
  &.no-hover {
    border-bottom: none;
    text-decoration-thickness: unset;
    text-underline-offset: unset;
  }
  // >>>
}

.content a:not(.btn):not(.no-hover) {
  // <<< inline
  @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
    text-decoration-color: var(--accent-color-faded);
  }
  border-color: var(--accent-color-faded);
  // >>>
  // <<< link
  &:hover {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-decoration-color: var(--accent-color);
    }
    border-color: var(--accent-color);
  }
  // >>>
}

// <<< link
a.btn {
  text-decoration: none;
}

@media print {
  a:not(.no-print-link)::after {
    content: " (" attr(href) ") ";
    color: var(--gray);
    font-size: 62%;
  }
}
// >>>