body::before {
  @media screen {
    content: '';
    width: .5rem;
    background: var(--gray-bg);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }

  @media (min-width: $break-point-3) {
    width: $sidebar-width;
  }

  @media (min-width: $break-point-dynamic) {
    width: calc(50% - #{$half-content});
  }
}

html {
  @media screen and (min-width: $break-point-1) {
    font-size: var(--root-font-size-medium);
  }

  @media screen and (min-width: $break-point-font-large) {
    font-size: var(--root-font-size-large);
  }
}

#breadcrumbs {
  > ul {
    @extend .ellipsis;
    height: 1rem;
    margin: -1.5rem 0 .5rem;
    padding: 0;
    font-size: .667rem;
    color: var(--menu-text);
    text-transform: uppercase;
    width: 100%;
    list-style: none;
    > li { 
      display: inline; 
      a {
        color: var(--gray);
        text-decoration: none;
        border-bottom: none;
      }
    }
  }
}

