hy-push-state a {
  color: var(--body-color); 
  
  @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
    text-decoration: none; 
    border-bottom: 2px solid;
  }

  @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
    text-decoration-style: solid;
    text-underline-offset: .35rem;
    text-decoration-thickness: 2px;
  }
  

  

  
  &.no-hover {
    border-bottom: none;
    text-decoration-thickness: unset;
    text-underline-offset: unset;
  }
  
}

.content a:not(.btn):not(.no-hover) {
  
  @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
    text-decoration-color: var(--accent-color-faded);
  }
  border-color: var(--accent-color-faded);
  
  
}

