.content .aspect-ratio {
//   overflow: hidden; 
  img {
//     margin: 0; 
//     width: 100%; 
//     height: 100%; 
    object-fit: cover; 
    object-position: center; 
//     background-color: var(--gray-bg); 
  }
}


figure, .figure {
  @extend .faded, .fine, .centered;
  margin-bottom: 2rem;

  > *:first-child {
    margin-bottom: 1rem;
  }
}

.highlighter-rouge + .figure {
  margin-top: -1.5rem;
}

.figcaption {
  @extend .faded, .fine, .centered;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
}
