#markdown-toc {
  
  transition: opacity 300ms ease, transform 300ms ease, border-color 1s ease; 
  &:before { left: 1rem; }
}

body:not(.no-toc) #markdown-toc {
  @media screen and (min-width: $break-point-dynamic) {
    
    
    overscroll-behavior: contain;

    &.toc-hide {
      opacity: 0;
      transform: translateX(-2rem);
    }

    &.toc-show {
      opacity: 1;
      transform: translateX(0);
    }

    &.affix {
      position: fixed;
      top: 1rem;
      max-height: calc(100vh - 1rem);
    }
    
  }
}

